# fly.toml app configuration file generated for santavibe-api on 2025-11-11T13:17:01+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'santavibe-api'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[env]
  ASPNETCORE_ENVIRONMENT = 'Production'
  DOTNET_CLI_TELEMETRY_OPTOUT = 'true'
  DOTNET_NOLOGO = 'true'
  App__BaseUrl = 'https://santavibe-web.fly.dev'
  Cors__AllowedOrigins = 'https://santavibe-web.fly.dev,https://santavibe.pl'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
