@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}
